%header
  %h1 Scenarios
%section
  %table{ class: :scenarios }
    - scenarios.each do |scenario|
      %tr
        %td.name= scenario.name
        %td
          %a{ href: scenario.uri, class: [:scenario, :link] } Activate
        %td
          %a{ href: scenario.detail_uri, class: [:scenario, :link] } View Detail
